############################
# Java / Maven（后端）
############################
**/target/
**/*.class
**/*.log

############################
# Tomcat 运行产生的文件
############################
**/logs/
**/work/
**/temp/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr

############################
# VS Code
############################
.vscode/

############################
# 操作系统垃圾文件
############################
.DS_Store
Thumbs.db

############################
# 本地配置（非常重要）
# 数据库 / 密钥 / 本地环境
############################
**/db.properties
**/jdbc.properties
**/config.properties
**/*.local.properties

############################
# 前端
############################
code/node_modules/
code/dist/

############################
# 构建 / 临时文件
############################
*.tmp
*.cache
