# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.gitignore

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.dbmdl
*.dbproj
*.db
*.ecproj
*.xml

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Folders for different package managers
/node_modules
/yarn.lock
/pnpm-lock.yaml
/package-lock.json
/bower_components
/jspm_packages
/.meteor
/.nuxt
/.next
/.nuxt2
/.fusebox
/.dnu
/.yarn
/.yarn.lock
/.yarn-cache
/.yarn-integrity
/.pnp.cjs
/.pnp.loader.json
/.pnp.data.json
/.pnp.js
/.pnp.lock.yaml

/petgame.iml
/.idea
/.env.development.local
/.env.test.local
/.env.production.local

/.env
/.env.local
